front-end/dist/index.html
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Omega Saúde</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="theme-color" content="#BB3437">
        <link rel="stylesheet" type="text/css" href="styles/estilos.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="imagens/estrutural/favicon.ico">
    </head>
    <body>
        <noscript>
            <div class="alert alert-warning text-center">
                <p>Seu navegador está com os scripts desabilitados!</p>
                <p>Para melhor funcionamento do site, habilite-os.</p>
            </div>
        </noscript>
        <div class="wrapper">
            <!-- ATENÇÃO PARA A CLASSE .index APENAS NA HOME-->
            <header class="topo index">
                <div class="faixa-branca">
                    <div class="row center-top">
                        <figure class="col-md-5 brand col-sm-4">
                            <!-- LOGO :--------------------->
                            <a href="index.html">
                                <img class="img-responsive" src="imagens/estrutural/logo.png" alt="Logo Omega">
                            </a>
                        </figure>
                        <!-- /.col-md-5-->
                        <div class="col-md-7 col-sm-8">
                            <div class="area-contato">
                                <span>
                                    <i class="icone telefone"></i>FALE CONOSCO: (19) 3324- 0185</span>
                                <a class="btn btn-custom" href="#">ÁREA DO COLABORADOR</a>
                            </div>
                            <div class="menu-heading">
                                <button class="btn btn-mobile" type="button" data-toggle="collapse" data-target="#menu">
                                    <i class="fa fa-bars"></i> MENU</button>
                            </div>
                            <nav class="menu">
                                <ul class="collapse" id="menu">
                                    <li class="active">
                                        <a href="index.html">HOME</a>
                                    </li>
                                    <li>
                                        <a href="sobre-nos.html">SOBRE A OMEGA</a>
                                    </li>
                                    <li>
                                        <a href="servicos.html">SERVIÇOS</a>
                                    </li>
                                    <li>
                                        <a href="unidades.html">UNIDADES</a>
                                    </li>
                                    <li>
                                        <a href="contato.html">CONTATO</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /nav.menu-->
                        </div>
                        <!-- /.col-md-7-->
                    </div>
                    <!-- /.row-->
                </div>
            </header>
            <!-- /header.topo-->
            <!-- CONTEUDO-->
            <div class="index">
                <!-- BANNER-->
                <section class="carousel slide" id="banner" data-interval="5000">
                    <div class="ctrls">
                        <div class="clearfix">
                            <a href="#banner" data-carousel="prev">
                                <i class="icone banner-prev"></i>
                            </a>
                            <a href="#banner" data-carousel="next">
                                <i class="icone banner-next"></i>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-inner">
                        <!-- repete-->
                        <figure class="item active">
                            <a href="#">
                                <img class="img-responsive" src="imagens/banners/banner-1.jpg" alt="nome/descricao">
                            </a>
                        </figure>
                        <!-- fim repete-->
                        <!-- repete-->
                        <figure class="item">
                            <a href="#">
                                <lazyimage data-src="imagens/banners/banner-2.jpg" data-alt="nome/descricao" data-class="img-responsive"></lazyimage>
                            </a>
                        </figure>
                        <!-- fim repete-->
                        <!-- repete-->
                        <figure class="item">
                            <a href="#">
                                <lazyimage data-src="imagens/banners/banner-1.jpg" data-alt="nome/descricao" data-class="img-responsive"></lazyimage>
                            </a>
                        </figure>
                        <!-- fim repete-->
                        <!-- repete-->
                        <figure class="item">
                            <a href="#">
                                <lazyimage data-src="imagens/banners/banner-2.jpg" data-alt="nome/descricao" data-class="img-responsive"></lazyimage>
                            </a>
                        </figure>
                        <!-- fim repete-->
                    </div>
                    <!-- /.carousel-inner-->
                </section>
                <!-- /section.carousel#banner(data-interval="5000")-->
                <section class="area-blocos">
                    <div class="container">
                        <div class="blocos">
                            <article class="bloco-1">
                                <h3>Equipe
                                    <span>qualificada</span>
                                </h3>
                                <div class="chamada">
                                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos.</p>
                                </div>
                            </article>
                            <article class="bloco-2">
                                <h3>Ambulatório
                                    <span>moderno</span>
                                </h3>
                                <div class="chamada">
                                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos.</p>
                                </div>
                            </article>
                            <article class="bloco-3">
                                <h3>Resgate e Remoção
                                    <span>eficaz</span>
                                </h3>
                                <div class="chamada">
                                    <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
                <!-- fim da área-blocos-->
                <section class="area-sobre">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <header class="section-header">
                                    <h3>A OMEGA SERVIÇOS EM SAÚDE</h3>
                                </header>
                                <h2>Nossa
                                    <span>historia</span>
                                </h2>
                                <div class="chamada">
                                    <p>A OMEGA é uma empresa especializada em soluções de serviços complementares à saúde, no atendimento de REMOÇÕES e AMBULATÓRIOS MÉDICOS.</p>
                                    <p>Sua assistência está dirigida em emergências médicas, ou seja, situações que implicam em risco de vida,e solução de serviços médicos aos funcionários, através de um ambulatório dentro da sua empresa.</p>
                                </div>
                                <a class="saiba-mais" href="sobre-nos.html">Clique aqui e saiba mais.</a>
                            </div>
                            <!-- /.col-md-7-->
                            <div class="col-md-5 text-center">
                                <figure>
                                    <img class="img-responsive" src="imagens/conteudo/imagem-1.jpg" alt="imagem">
                                </figure>
                            </div>
                            <!-- /.col-md-5-->
                        </div>
                    </div>
                </section>
                <!-- fim da área-sobre-->
                <section class="area-servicos">
                    <div class="container">
                        <header class="section-header">
                            <h2>NOSSOS SERVIÇOS</h2>
                        </header>
                        <div class="owl-carousel carousel-servicos" id="servicos">
                            <!-- repete-->
                            <div class="item">
                                <a href="servicos-detalhes.html">
                                    <div class="nome">Ambulatório para Empresas</div>
                                    <figure class="foto">
                                        <lazyimage data-src="imagens/conteudo/servico-1.png" data-alt="imagem do serviço" data-class="img-responsive"></lazyimage>
                                    </figure>
                                    <!-- /figure.foto-->
                                    <div class="desc">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos.</div>
                                    <span class="btn btn-outline-white">SAIBA MAIS</span>
                                </a>
                            </div>
                            <!-- fim repete item-->
                            <!-- repete-->
                            <div class="item">
                                <a href="servicos-detalhes.html">
                                    <div class="nome">Resgate e Remoção</div>
                                    <figure class="foto">
                                        <lazyimage data-src="imagens/conteudo/servico-2.png" data-alt="imagem do serviço" data-class="img-responsive"></lazyimage>
                                    </figure>
                                    <!-- /figure.foto-->
                                    <div class="desc">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos.</div>
                                    <span class="btn btn-outline-white">SAIBA MAIS</span>
                                </a>
                            </div>
                            <!-- fim repete item-->
                            <!-- repete-->
                            <div class="item">
                                <a href="servicos-detalhes.html">
                                    <div class="nome">Ambulatório para Empresas</div>
                                    <figure class="foto">
                                        <lazyimage data-src="imagens/conteudo/servico-1.png" data-alt="imagem do serviço" data-class="img-responsive"></lazyimage>
                                    </figure>
                                    <!-- /figure.foto-->
                                    <div class="desc">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos.</div>
                                    <span class="btn btn-outline-white">SAIBA MAIS</span>
                                </a>
                            </div>
                            <!-- fim repete item-->
                            <!-- repete-->
                            <div class="item">
                                <a href="servicos-detalhes.html">
                                    <div class="nome">Resgate e Remoção</div>
                                    <figure class="foto">
                                        <lazyimage data-src="imagens/conteudo/servico-2.png" data-alt="imagem do serviço" data-class="img-responsive"></lazyimage>
                                    </figure>
                                    <!-- /figure.foto-->
                                    <div class="desc">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                        um livro de modelos de tipos.</div>
                                    <span class="btn btn-outline-white">SAIBA MAIS</span>
                                </a>
                            </div>
                            <!-- fim repete item-->
                        </div>
                        <!-- /.owl-carousel#servicos-->
                    </div>
                </section>
                <!-- fim da area-servicos-->
                <section class="area-depoimentos">
                    <div class="container">
                        <header>
                            <h2 class="text-center">O QUE NOSSOS CLIENTES DIZEM SOBRE NÓS</h2>
                        </header>
                        <div class="owl-carousel carousel-depoimentos" id="depoimentos">
                            <!-- repete-->
                            <div class="item">
                                <div class="depoimento">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                    um livro de modelos de tipos. .</div>
                                <h3>Nome do Cliente/Empresa</h3>
                            </div>
                            <!-- fim repete-->
                            <!-- repete-->
                            <div class="item">
                                <div class="depoimento">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                    um livro de modelos de tipos. .</div>
                                <h3>Nome do Cliente/Empresa</h3>
                            </div>
                            <!-- fim repete-->
                            <!-- repete-->
                            <div class="item">
                                <div class="depoimento">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
                                    um livro de modelos de tipos. .</div>
                                <h3>Nome do Cliente/Empresa</h3>
                            </div>
                            <!-- fim repete-->
                        </div>
                        <!-- /.owl-carousel#depoimentos-->
                    </div>
                </section>
                <!-- fim da area-depoimentos-->
            </div>
            <!-- /main.index-->
        </div>
        <!-- /.wrapper-->
        <footer class="rodape">
            <div class="container">
                <h3>Entre em contato conosco</h3>
                <form action="contato.html" method="post" data-ajax="true">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" placeholder="Nome:" title="Nome" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="E-mail:" title="E-mail" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="assunto" placeholder="Assunto:" title="Assunto">
                            </div>
                        </div>
                        <!-- /.col-md-5-->
                        <div class="col-md-7 col-sm-6">
                            <div class="form-group">
                                <textarea class="form-control" name="mensagem" placeholder="Mensagem:" title="Mensagem" rows="5" required></textarea>
                            </div>
                        </div>
                        <!-- /.col-md-7-->
                    </div>
                    <!-- /.row-->
                    <div class="row area-contatos">
                        <div class="col-md-2 col-md-push-10">
                            <div class="form-group text-right">
                                <button class="btn btn-transparent" type="submit">Enviar</button>
                            </div>
                        </div>
                        <!-- /.col-md-2-->
                        <div class="col-md-10 col-md-pull-2">
                            <div class="row">
                                <div class="col-sm-5 col-endereco mgb-20">
                                    <i class="icone endereco"></i>
                                    <div class="box">AV. DR. HEITOR NASCIMENTO, 196 - BLOCO B -SALA 64
                                        <br>BAIRRO JARDIM AMÉRICA
                                        <br> PAULÍNIA - SÃO PAULO
                                        <br> CEP: 13.140-695</div>
                                </div>
                                <!-- /.col-endereco-->
                                <div class="col-sm-3 col-telefone mgb-20">
                                    <i class="icone telefone-rodape"></i>
                                    <div class="box">(19) 3324 0185</div>
                                </div>
                                <!-- /.col-telefone-->
                                <div class="col-sm-4 col-email mgb-20">
                                    <i class="icone email"></i>
                                    <div class="box">
                                        <a href="mailto:omega@omegasaude.med.br">omega@omegasaude.med.br</a>
                                    </div>
                                </div>
                                <!-- /.col-email-->
                            </div>
                        </div>
                        <!-- /.col-md-10-->
                    </div>
                </form>
                <!-- /form-->
                <div class="creditos text-center">Omega © Todos os direitos reservados.
                    <br>Criações de Sites:
                    <a href="http://www.gv8.com.br" target="_blank">GV8 Sites & Sistemas</a>
                    <br>
                    <a href="http://www.gv8.com.br" target="_blank">
                        <figure class="icone gv8 mgt-10"></figure>
                    </a>
                </div>
            </div>
            <!-- /.container-->
        </footer>
        <!-- /footer.rodape-->
        <script src="js/starter.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/scripts.min.js"></script>
        <!--[if lt IE 9]>
	<script>
		(function message_IE(){
			var msg = '<div id="msg-ie" class="msg-ie">'+
				'<div class="alert-danger alert text-center">'+
					'<button onclick="remover(\'#msg-ie\')" class="close"><i class="fa fa-times"></i></button>'+
					'<h1>ATEN&Ccedil;&Atilde;O!!</h1>'+
					'<p>O seu navegador est&aacute; desatualizado, para melhor funcionamento do site clique <a href="#" class="alert-link">aqui</a> para atulizar! Ou instale o <a href="#" class="alert-link">Google Chrome</a></p>'+
				'</div>'+
			'</div>';

			$('noscript').after(msg);
			$('body').addClass('ie');
		}());
	</script>
<![endif]-->
    </body>
</html>

front-end/source/pug/index.pug
extend common/template.pug

block title
	title Omega Saúde

block conteudo
	// CONTEUDO
	div.index
		// BANNER
		section.carousel#banner(data-interval="5000").slide
			.ctrls
				.clearfix
					a(href="#banner",data-carousel="prev"): i.icone.banner-prev
					a(href="#banner",data-carousel="next"): i.icone.banner-next
			.carousel-inner
				-for(var b=0;b<4;b++)
					if b % 2 == 0
						-var banner = 'imagens/banners/banner-1.jpg'
					else
						-var banner = 'imagens/banners/banner-2.jpg'
					// repete
					figure.item(class=b==0?'active' : '')
						a(href="#")
							if(b==0)
								img(src=banner,alt="nome/descricao",class="img-responsive")
							else
								lazyimage(data-src=banner,data-alt="nome/descricao",data-class="img-responsive")
					// fim repete
			// /.carousel-inner
		// /section.carousel#banner(data-interval="5000")

		section.area-blocos
			.container
				.blocos
					article.bloco-1
						h3 Equipe #[span qualificada]
						div.chamada: p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
					article.bloco-2
						h3 Ambulatório #[span moderno]
						div.chamada: p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
					article.bloco-3
						h3 Resgate e Remoção #[span eficaz]
						div.chamada: p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
		// fim da área-blocos

		section.area-sobre
			.container
				.row
					.col-md-7
						header.section-header
							h3 A OMEGA SERVIÇOS EM SAÚDE
						h2 Nossa #[span historia]
						div.chamada
							p A OMEGA é uma empresa especializada em soluções de serviços complementares à saúde, no atendimento de REMOÇÕES e AMBULATÓRIOS MÉDICOS.
							p Sua assistência está dirigida em emergências médicas, ou seja, situações que implicam em risco de vida,e solução de serviços médicos aos funcionários, através de um ambulatório dentro da sua empresa.
						a(href="sobre-nos.html").saiba-mais Clique aqui e saiba mais.
					// /.col-md-7
					.col-md-5.text-center
						figure
							img(src="imagens/conteudo/imagem-1.jpg",alt="imagem").img-responsive
					// /.col-md-5
		// fim da área-sobre

		section.area-servicos
			.container
				header.section-header
					h2 NOSSOS SERVIÇOS

				.owl-carousel#servicos.carousel-servicos
					-for(var c=0;c<4;c++)
						// repete
						.item
							if ((c%2)==0)
								a(href="servicos-detalhes.html")
									.nome Ambulatório para Empresas
									figure.foto
										lazyimage(data-src="imagens/conteudo/servico-1.png",data-alt="imagem do serviço",data-class="img-responsive")
									// /figure.foto
									.desc Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
									span.btn.btn-outline-white SAIBA MAIS
							else
								a(href="servicos-detalhes.html")
									.nome Resgate e Remoção
									figure.foto
										lazyimage(data-src="imagens/conteudo/servico-2.png",data-alt="imagem do serviço",data-class="img-responsive")
									// /figure.foto
									.desc Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
									span.btn.btn-outline-white SAIBA MAIS
						// fim repete item
				// /.owl-carousel#servicos
		// fim da area-servicos

		section.area-depoimentos
			.container
				header
					h2.text-center O QUE NOSSOS CLIENTES DIZEM SOBRE NÓS

				.owl-carousel#depoimentos.carousel-depoimentos
					-for(var c=0;c<3;c++)
						// repete
						.item
							.depoimento
								| Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. 	.
							h3 Nome do Cliente/Empresa
						// fim repete
				// /.owl-carousel#depoimentos
		// fim da area-depoimentos

	// /main.index
