front-end/dist/unidades.html
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Omega Saúde</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="theme-color" content="#BB3437">
        <link rel="stylesheet" type="text/css" href="styles/estilos.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="imagens/estrutural/favicon.ico">
    </head>
    <body>
        <noscript>
            <div class="alert alert-warning text-center">
                <p>Seu navegador está com os scripts desabilitados!</p>
                <p>Para melhor funcionamento do site, habilite-os.</p>
            </div>
        </noscript>
        <div class="wrapper">
            <!-- ATENÇÃO PARA A CLASSE .index APENAS NA HOME-->
            <header class="topo">
                <div class="faixa-branca">
                    <div class="row center-top">
                        <figure class="col-md-5 brand col-sm-4">
                            <!-- LOGO :--------------------->
                            <a href="index.html">
                                <img class="img-responsive" src="imagens/estrutural/logo.png" alt="Logo Omega">
                            </a>
                        </figure>
                        <!-- /.col-md-5-->
                        <div class="col-md-7 col-sm-8">
                            <div class="area-contato">
                                <span>
                                    <i class="icone telefone"></i>FALE CONOSCO: (19) 3324- 0185</span>
                                <a class="btn btn-custom" href="#">ÁREA DO COLABORADOR</a>
                            </div>
                            <div class="menu-heading">
                                <button class="btn btn-mobile" type="button" data-toggle="collapse" data-target="#menu">
                                    <i class="fa fa-bars"></i> MENU</button>
                            </div>
                            <nav class="menu">
                                <ul class="collapse" id="menu">
                                    <li>
                                        <a href="index.html">HOME</a>
                                    </li>
                                    <li>
                                        <a href="sobre-nos.html">SOBRE A OMEGA</a>
                                    </li>
                                    <li>
                                        <a href="servicos.html">SERVIÇOS</a>
                                    </li>
                                    <li class="active">
                                        <a href="unidades.html">UNIDADES</a>
                                    </li>
                                    <li>
                                        <a href="contato.html">CONTATO</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /nav.menu-->
                        </div>
                        <!-- /.col-md-7-->
                    </div>
                    <!-- /.row-->
                </div>
            </header>
            <!-- /header.topo-->
            <!-- CONTEUDO-->
            <div class="internas">
                <header class="page-header">
                    <h1>UNIDADES</h1>
                </header>
                <!--/-.page-header-->
                <div class="container">
                    <header class="page-sub-header">
                        <h2>MATRIZ</h2>
                    </header>
                    <div class="item-unidade mgb-20">
                        <h4 class="open">Paulínia- SP (Matriz)</h4>
                        <p>Av.Dr Heitor Nascimento, 196 –Bl A –SL.12</p>
                        <p>Centro – CEP: 13.140-970</p>
                        <p>Fone: (19)3844-4228</p>
                    </div>
                    <div class="mapa-google mapa-unidade" id="mapa-matriz">
                        <script>
                            window.onload = function()
                            {
                                document.getElementById('mapa-matriz').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
                            }
                        </script>
                    </div>
                    <div class="lista-unidades">
                        <!-- filial-->
                        <article class="panel panel-transparent">
                            <header class="panel-heading">
                                <!-- colocar classe collapsed se estiver fechado-->
                                <a href="#unidade-0" data-toggle="collapse">
                                    <i class="fa fa-toggle-down"></i>
                                    <i class="fa fa-toggle-up"></i>
                                    <span>Aracajú – SE</span>
                                </a>
                            </header>
                            <!-- colocar classe in se estiver aberto-->
                            <div class="panel-body collapse in" id="unidade-0">
                                <div class="item-unidade">
                                    <h4>Aracajú – SE (Filial)</h4>
                                    <p>Av. Gonçalo Prado Rolemberg, 1630 –SL. 05</p>
                                    <p>São José – CEP: 49.015-230</p>
                                    <p>Fone: (79) 3023-3325</p>
                                </div>
                                <div class="mapa-google mapa-unidade" id="mapa-0">
                                    <script>
                                        window.onload = function()
                                        {
                                            document.getElementById('mapa-0').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
                                        }
                                    </script>
                                </div>
                            </div>
                        </article>
                        <!-- fim da filial-->
                        <!-- filial-->
                        <article class="panel panel-transparent">
                            <header class="panel-heading">
                                <!-- colocar classe collapsed se estiver fechado-->
                                <a class="collapsed" href="#unidade-1" data-toggle="collapse">
                                    <i class="fa fa-toggle-down"></i>
                                    <i class="fa fa-toggle-up"></i>
                                    <span>Belo horizonte/BH</span>
                                </a>
                            </header>
                            <!-- colocar classe in se estiver aberto-->
                            <div class="panel-body collapse" id="unidade-1">
                                <div class="item-unidade">
                                    <h4>Belo horizonte/BH (Filial)</h4>
                                    <p>Av. Gonçalo Prado Rolemberg, 1630 –SL. 05</p>
                                    <p>São José – CEP: 49.015-230</p>
                                    <p>Fone: (79) 3023-3325</p>
                                </div>
                                <div class="mapa-google mapa-unidade" id="mapa-1">
                                    <script>
                                        window.onload = function()
                                        {
                                            document.getElementById('mapa-1').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
                                        }
                                    </script>
                                </div>
                            </div>
                        </article>
                        <!-- fim da filial-->
                        <!-- filial-->
                        <article class="panel panel-transparent">
                            <header class="panel-heading">
                                <!-- colocar classe collapsed se estiver fechado-->
                                <a class="collapsed" href="#unidade-2" data-toggle="collapse">
                                    <i class="fa fa-toggle-down"></i>
                                    <i class="fa fa-toggle-up"></i>
                                    <span>Belo horizonte/BH</span>
                                </a>
                            </header>
                            <!-- colocar classe in se estiver aberto-->
                            <div class="panel-body collapse" id="unidade-2">
                                <div class="item-unidade">
                                    <h4>Belo horizonte/BH (Filial)</h4>
                                    <p>Av. Gonçalo Prado Rolemberg, 1630 –SL. 05</p>
                                    <p>São José – CEP: 49.015-230</p>
                                    <p>Fone: (79) 3023-3325</p>
                                </div>
                                <div class="mapa-google mapa-unidade" id="mapa-2">
                                    <script>
                                        window.onload = function()
                                        {
                                            document.getElementById('mapa-2').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
                                        }
                                    </script>
                                </div>
                            </div>
                        </article>
                        <!-- fim da filial-->
                    </div>
                </div>
                <!-- /.container-->
            </div>
            <!-- /div.internas-->
        </div>
        <!-- /.wrapper-->
        <footer class="rodape">
            <div class="container">
                <h3>Entre em contato conosco</h3>
                <form action="contato.html" method="post" data-ajax="true">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" placeholder="Nome:" title="Nome" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="E-mail:" title="E-mail" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="assunto" placeholder="Assunto:" title="Assunto">
                            </div>
                        </div>
                        <!-- /.col-md-5-->
                        <div class="col-md-7 col-sm-6">
                            <div class="form-group">
                                <textarea class="form-control" name="mensagem" placeholder="Mensagem:" title="Mensagem" rows="5" required></textarea>
                            </div>
                        </div>
                        <!-- /.col-md-7-->
                    </div>
                    <!-- /.row-->
                    <div class="row area-contatos">
                        <div class="col-md-2 col-md-push-10">
                            <div class="form-group text-right">
                                <button class="btn btn-transparent" type="submit">Enviar</button>
                            </div>
                        </div>
                        <!-- /.col-md-2-->
                        <div class="col-md-10 col-md-pull-2">
                            <div class="row">
                                <div class="col-sm-5 col-endereco mgb-20">
                                    <i class="icone endereco"></i>
                                    <div class="box">AV. DR. HEITOR NASCIMENTO, 196 - BLOCO B -SALA 64
                                        <br>BAIRRO JARDIM AMÉRICA
                                        <br> PAULÍNIA - SÃO PAULO
                                        <br> CEP: 13.140-695</div>
                                </div>
                                <!-- /.col-endereco-->
                                <div class="col-sm-3 col-telefone mgb-20">
                                    <i class="icone telefone-rodape"></i>
                                    <div class="box">(19) 3324 0185</div>
                                </div>
                                <!-- /.col-telefone-->
                                <div class="col-sm-4 col-email mgb-20">
                                    <i class="icone email"></i>
                                    <div class="box">
                                        <a href="mailto:omega@omegasaude.med.br">omega@omegasaude.med.br</a>
                                    </div>
                                </div>
                                <!-- /.col-email-->
                            </div>
                        </div>
                        <!-- /.col-md-10-->
                    </div>
                </form>
                <!-- /form-->
                <div class="creditos text-center">Omega © Todos os direitos reservados.
                    <br>Criações de Sites:
                    <a href="http://www.gv8.com.br" target="_blank">GV8 Sites & Sistemas</a>
                    <br>
                    <a href="http://www.gv8.com.br" target="_blank">
                        <figure class="icone gv8 mgt-10"></figure>
                    </a>
                </div>
            </div>
            <!-- /.container-->
        </footer>
        <!-- /footer.rodape-->
        <script src="js/starter.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/scripts.min.js"></script>
        <!--[if lt IE 9]>
	<script>
		(function message_IE(){
			var msg = '<div id="msg-ie" class="msg-ie">'+
				'<div class="alert-danger alert text-center">'+
					'<button onclick="remover(\'#msg-ie\')" class="close"><i class="fa fa-times"></i></button>'+
					'<h1>ATEN&Ccedil;&Atilde;O!!</h1>'+
					'<p>O seu navegador est&aacute; desatualizado, para melhor funcionamento do site clique <a href="#" class="alert-link">aqui</a> para atulizar! Ou instale o <a href="#" class="alert-link">Google Chrome</a></p>'+
				'</div>'+
			'</div>';

			$('noscript').after(msg);
			$('body').addClass('ie');
		}());
	</script>
<![endif]-->
    </body>
</html>

front-end/source/pug/unidades.pug
extend common/template.pug

block title
	title Omega Saúde

block active
	-var active = 'unidades'
//-block active

block conteudo
	// CONTEUDO
	div.internas
		header.page-header
			h1 UNIDADES
		///-.page-header
		.container

			header.page-sub-header: h2 MATRIZ

			.item-unidade.mgb-20
				h4.open Paulínia- SP (Matriz)
				p Av.Dr Heitor Nascimento, 196 –Bl A –SL.12
				p Centro – CEP: 13.140-970
				p Fone: (19)3844-4228

			.mapa-google.mapa-unidade#mapa-matriz
				script.
					window.onload = function(){
						document.getElementById('mapa-matriz').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
					}

			.lista-unidades
				// filial
				article.panel.panel-transparent
					header.panel-heading
						// colocar classe collapsed se estiver fechado
						a(href="#unidade-0",data-toggle="collapse")
							i.fa.fa-toggle-down
							i.fa.fa-toggle-up
							span Aracajú – SE
					// colocar classe in se estiver aberto
					.panel-body.collapse.in(id="unidade-0")
						.item-unidade
							h4 Aracajú – SE (Filial)
							p Av. Gonçalo Prado Rolemberg, 1630 –SL. 05
							p São José – CEP: 49.015-230
							p Fone: (79) 3023-3325
						.mapa-google.mapa-unidade#mapa-0
							script.
								window.onload = function(){
									document.getElementById('mapa-0').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
								}
				// fim da filial
				// filial
				article.panel.panel-transparent
					header.panel-heading
						// colocar classe collapsed se estiver fechado
						a(href="#unidade-1",data-toggle="collapse").collapsed
							i.fa.fa-toggle-down
							i.fa.fa-toggle-up
							span Belo horizonte/BH
					// colocar classe in se estiver aberto
					.panel-body.collapse(id="unidade-1")
						.item-unidade
							h4 Belo horizonte/BH (Filial)
							p Av. Gonçalo Prado Rolemberg, 1630 –SL. 05
							p São José – CEP: 49.015-230
							p Fone: (79) 3023-3325
						.mapa-google.mapa-unidade#mapa-1
							script.
								window.onload = function(){
									document.getElementById('mapa-1').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
								}
				// fim da filial
				// filial
				article.panel.panel-transparent
					header.panel-heading
						// colocar classe collapsed se estiver fechado
						a(href="#unidade-2",data-toggle="collapse").collapsed
							i.fa.fa-toggle-down
							i.fa.fa-toggle-up
							span Belo horizonte/BH
					// colocar classe in se estiver aberto
					.panel-body.collapse(id="unidade-2")
						.item-unidade
							h4 Belo horizonte/BH (Filial)
							p Av. Gonçalo Prado Rolemberg, 1630 –SL. 05
							p São José – CEP: 49.015-230
							p Fone: (79) 3023-3325
						.mapa-google.mapa-unidade#mapa-2
							script.
								window.onload = function(){
									document.getElementById('mapa-2').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
								}
				// fim da filial
		// /.container
	// /div.internas
